.about-section {
    font-family: var(--typeBasePrimary), var(--typeBaseFallback);
    font-size: calc(var(--typeBaseSize) * 1.2 * 0.83);
    font-weight: var(--typeBaseWeight);
    line-height: var(--typeBaseLineHeight);
    letter-spacing: var(--typeBaseSpacing);
    margin-block-start: 1em;
    margin-block-end: 1em;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    color: #1C1D1D;
    scroll-margin-top: 10rem; 
    padding-top: 2rem;
}

.about-section h1 {
    font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
    font-size: calc(var(--typeHeaderSize));
    line-height: var(--typeHeaderLineHeight);
    letter-spacing: var(--typeHeaderSpacing);
    font-weight: 400;
    text-align: center;
}

.about-description {
    margin: 0 auto;
    margin-top: 2rem;
    text-align: left;
    min-width: 20rem;
    max-width: 50rem;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.about-description.fade-in {
    opacity: 1;
    transform: translateY(0); /* Back to original position */
}

/* Resume Button */
.resume-button {
    display: inline-block;
    background-color: #000000;
    color: #ffffff;
    padding: 0.5rem 3.5rem;
    border-radius: 0;
    font-size: 0.9rem;
    text-decoration: none;
    margin-top: 3rem;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.resume-button:hover {
    background-color: #ecdce4;
    color: #000000;
    transform: scale(1.05);
}