/* components/Navbar.css */

/* Announcement Bar */
.announcement-bar {
    font-family: var(--typeBasePrimary), var(--typeBaseFallback);
    font-size: var(--typeBaseSize);
    line-height: var(--typeBaseLineHeight);
    letter-spacing: var(--typeBaseSpacing);
    -webkit-font-smoothing: antialiased;
    background-color: #1c1d1d;
    color: #fff;
    padding: 0.4rem 0;
    text-align: center;
    position: static;
}

/* Navbar */
.navbar {
    font-family: var(--typeBasePrimary), var(--typeBaseFallback);
    font-size: var(--typeBaseSize);
    line-height: var(--typeBaseLineHeight);
    letter-spacing: var(--typeBaseSpacing);
    -webkit-font-smoothing: antialiased;
    background-color: white;
    color: #1C1D1D;
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 8vw;
    position: static;
}

/* Logo Styling */
.logo-image {
    width: 100px; /* Base width */
    height: auto;
    object-fit: contain;
    transform: scale(2);
}

/* Navbar Links */
.navbar-links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 2rem;
    justify-content: center;
    margin: 0 6rem;
    line-height: 1;
}

/* Navbar Links Styling */
.navbar-links li a {
    color: #1C1D1D;
    text-decoration: none;
    font-size: 17px;
}

.navbar-links li a:hover {
    text-decoration: none;
}

/* Navbar Icons */
.navbar-icons {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* LinkedIn Icon */
.navbar-icons a:nth-child(1) .navbar-icon {
    width: 45px; 
    height: 45px;
}

/* GitHub Icon */
.navbar-icons a:nth-child(2) .navbar-icon {
    width: 52px;
    height: 30px;
}

/* Hamburger Icon Hidden by Default */
.hamburger-menu {
    display: none;
    padding-left: 7px;
    width: 35px;
    height: 40px;
    cursor: pointer;
}

/* Sidebar Overlay */
.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

/* Sidebar Menu */
.sidebar {
    width: 450px;
    background-color: #1C1D1D;
    color: white;
    padding: 2.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1001;
    text-align: left;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

/* Open state for the sidebar and overlay */
.sidebar-overlay.open {
    opacity: 1;
    pointer-events: auto;
}

.sidebar.open {
    transform: translateX(0);
    transition: transform 0.5s ease;
}

/* Sidebar Links */
.sidebar-links {
    list-style: none;
    padding: 0;
    margin-top: 5rem;
}

.sidebar-links li {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(52, 53, 53);
}

.sidebar-links li:last-child {
    border-bottom: none; /* Remove divider from the last item */
}

.sidebar-links li a {
    color: white;
    text-decoration: none;
    font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
    font-size: var(--typeHeaderSize);
    font-weight: 200;
    line-height: var(--typeHeaderLineHeight);
    letter-spacing: var(--typeHeaderSpacing);
}

/* Divider */
.navbar-divider {
    height: 1px;
    background-color: #1C1D1D;
    width: 100%;
}

@media (max-width: 768px) {
    .logo-image {
        transform: scale(1.5);
    }
}

/* Adjust padding for smaller screens */
@media (max-width: 768px) {
    .navbar-content {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    .navbar-links {
        display: none;
    }
}

/* Show the links on larger screens */
@media (min-width: 769px) {
    .hamburger-menu {
        display: none;
    }
}

/* Show hamburger menu on smaller screens */
@media (max-width: 768px) {
    .navbar-icons .navbar-icon,
    .hamburger-menu {
        display: block;
        transform: scale(0.8);
    }
}

@media (prefers-reduced-motion: reduce) {
    .sidebar {
        transition: none;
        transform: translateX(100%);
    }

    .sidebar.open {
        transform: translateX(0);
        transition: none;
    }

    .sidebar-overlay {
        transition: none; /* Remove fade-in and fade-out animation */
    }

    .sidebar-overlay.open {
        opacity: 1; /* Maintain visibility without transition */
        transition: none; /* Disable fade-out animation */
    }
}
