/* components/Navbar.css */

/* General Styles */
.navbar {
    font-family: var(--typeBasePrimary), var(--typeBaseFallback);
    font-size: var(--typeBaseSize);
    line-height: var(--typeBaseLineHeight);
    letter-spacing: var(--typeBaseSpacing);
    -webkit-font-smoothing: antialiased;
    background-color: white;
    color: #1C1D1D;
    text-align: center;
    width: 100%;
    position: relative;
}

/* Announcement Bar */
.announcement-bar {
    background-color: #1C1D1D;
    color: #fff;
    padding: 0.4rem 0;
}

/* Navbar Content */
.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.4rem 8vw;
    position: static;
}

/* Logo Styling */
.logo-image {
    width: 100px; /* Base width */
    height: auto;
    object-fit: contain;
    transform: scale(2); /* Scale the logo up by 1.5 times */
}

@media (max-width: 768px) {
    .logo-image {
        transform: scale(1.5);
    }
}

/* Navbar Links */
.navbar-links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 2rem;
    justify-content: center;
    margin: 0 6rem;
    line-height: 1;
}

/* Adjust padding for smaller screens */
@media (max-width: 768px) {
    .navbar-content {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
}

/* Hide the links on smaller screens */
@media (max-width: 768px) {
    .navbar-links {
        display: none;
    }
}

/* Show the links on larger screens */
@media (min-width: 769px) {
    .hamburger-menu {
        display: none;
    }
}

/* Navbar Links Styling */
.navbar-links li a {
    color: #1C1D1D;
    text-decoration: none;
    font-size: 17px;
}

.navbar-links li a:hover {
    text-decoration: underline;
}

/* Navbar Icons */
.navbar-icons {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* LinkedIn Icon */
.navbar-icons a:nth-child(1) .navbar-icon {
    width: 45px; 
    height: 45px;
}

/* GitHub Icon */
.navbar-icons a:nth-child(2) .navbar-icon {
    width: 52px;
    height: 30px;
}

/* Hamburger Icon Hidden by Default */
.hamburger-menu {
    display: none;
    padding-left: 7px;
    width: 35px; /* Adjust to match the size of your other icons */
    height: 40px;
    cursor: pointer;
}

/* Show hamburger menu on smaller screens */
@media (max-width: 768px) {
    .navbar-icons .navbar-icon,
    .hamburger-menu {
        display: block;
        transform: scale(0.8); /* Scale down icons to 80% */
    }
}

/* Sidebar Overlay */
.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Dim background */
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
    opacity: 0; /* Fully transparent initially */
    pointer-events: none; /* Prevent clicks when sidebar is closed */
    transition: opacity 0.5s ease; /* Smooth opacity transition */
}

/* Sidebar Menu */
.sidebar {
    width: 450px;
    background-color: #1C1D1D;
    color: white;
    padding: 2.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1001;
    text-align: left;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%); /* Start off-screen */
    transition: transform 0.3s ease; /* Slide out */
}

/* Open state for the sidebar and overlay */
.sidebar-overlay.open {
    opacity: 1;
    pointer-events: auto; /* Enable clicks when sidebar is open */
}

.sidebar.open {
    transform: translateX(0); /* Slide sidebar into view */
    transition: transform 0.5s ease; /* Slide in */
}

/* Sidebar Links */
.sidebar-links {
    list-style: none;
    padding: 0;
    margin-top: 5rem;
}

.sidebar-links li {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(52, 53, 53);
}

.sidebar-links li:last-child {
    border-bottom: none; /* Remove divider from the last item */
}

.sidebar-links li a {
    color: white;
    text-decoration: none;
    font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
    font-size: var(--typeHeaderSize);
    font-weight: 200;
    line-height: var(--typeHeaderLineHeight);
    letter-spacing: var(--typeHeaderSpacing);
}

/* Close Button */
.close-button {
    background: none;
    border: none;
    position: absolute;
    top: 2rem;
    right: 2.5rem;
    cursor: pointer;
    width: 24px; /* Adjust size as needed */
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

/* Styling for the X icon created with CSS */
.close-button::before,
.close-button::after {
    content: '';
    position: absolute;
    width: 16px; /* Length of the X lines */
    height: 2.2px; /* Thickness of the X lines */
    background-color: white; /* White color for the X */
    border-radius: 1px; /* Slight rounding for smooth look */
}

/* Rotation to form the X */
.close-button::before {
    transform: rotate(45deg);
}

.close-button::after {
    transform: rotate(-45deg);
}

/* Divider */
.navbar-divider {
    height: 1px;
    background-color: #1C1D1D;
    width: 100%;
    margin-top: 1rem;
}