.skills-section {
    font-family: var(--typeBasePrimary), var(--typeBaseFallback);
    font-size: calc(var(--typeBaseSize) * 1.2 * 0.83);
    font-weight: var(--typeBaseWeight);
    line-height: var(--typeBaseLineHeight);
    letter-spacing: var(--typeBaseSpacing);
    margin-block-start: 1em;
    margin-block-end: 1em;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    color: #1C1D1D;
    scroll-margin-top: 10rem; 
    padding-top: 2rem;
    text-align: center;
}

.skills-section h1 {
    font-family: var(--typeHeaderPrimary), var(--typeHeaderFallback);
    font-size: calc(var(--typeHeaderSize));
    line-height: var(--typeHeaderLineHeight);
    letter-spacing: var(--typeHeaderSpacing);
    font-weight: 400;
    margin-bottom: 2rem;
}

.skills-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.skills-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50rem;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}


.skills-item.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.skills-icon {
    height: 3rem;
    margin-right: 2rem;
    object-fit: contain;
    flex-shrink: 0; /* Prevent icon from shrinking */
}

.skills-text {
    flex: 1;
    text-align: left;
    font-size: 1rem;
}

@media (max-width: 50rem) {
    .skills-item {
        width: 100%;
    }
}